graphs {
      graph_id: 100
      priority: 1
    
      engines {
        id: 300
        engine_name: "StreamPullerEngine"
        side: HOST
        thread_num: 1
        ai_config {
          items {
            name: "init_config"
            value: ""
          }
          items {
            name: "channel_id"
            value: '0'
          }
        }
      }
        
      engines {
        id: 301
        engine_name: "StreamPullerEngine"
        side: HOST
        thread_num: 1
        ai_config {
          items {
            name: "init_config"
            value: ""
          }
          items {
            name: "channel_id"
            value: '1'
          }
        }
      }
        
      engines {
        id: 1100
        engine_name: "VdecEngine"
        side: DEVICE
        thread_num: 1
        so_name: "./device/libVdecEngine.so"
        ai_config {
          items {
            name: "init_config"
            value: ""
          }
          items {
            name: "passcode"
            value: ""
          }
        }
      }
        
      engines {
        id: 1101
        engine_name: "VdecEngine"
        side: DEVICE
        thread_num: 1
        so_name: "./device/libVdecEngine.so"
        ai_config {
          items {
            name: "init_config"
            value: ""
          }
          items {
            name: "passcode"
            value: ""
          }
        }
      }
        
      engines {
        id: 400
        engine_name: "SORTEngine"
        side: DEVICE
        thread_num: 1
        so_name: "./device/libSORTEngine.so"
        ai_config {
          items {
            name: "init_config"
            value: ""
          }
          items {
            name: "passcode"
            value: ""
          }
          items {
            name: "continuityThreshold"
            value: "1"
          }
          items {
            name: "adjacencyThreshold"
            value: "0.15"
          }
          items {
            name: "trackThreshold"
            value: "0.6"
          }
        }
      }
        
      engines {
        id: 401
        engine_name: "SORTEngine"
        side: DEVICE
        thread_num: 1
        so_name: "./device/libSORTEngine.so"
        ai_config {
          items {
            name: "init_config"
            value: ""
          }
          items {
            name: "passcode"
            value: ""
          }
          items {
            name: "continuityThreshold"
            value: "1"
          }
          items {
            name: "adjacencyThreshold"
            value: "0.15"
          }
          items {
            name: "trackThreshold"
            value: "0.6"
          }
        }
      }
        
      engines {
        id: 1001
        engine_name: "ObjectDetectionEngine"
        side: DEVICE
        thread_num: 1
        so_name: "./device/libgomp.so"
        so_name: "./device/libObjectDetectionEngine.so"
        ai_config {
          items {
            name: "model"
            value: "./data/models/yolov3_b4.om"
          }
          items {
            name: "init_config"
            value: ""
          }
          items {
            name: "passcode"
            value: ""
          }
          items {
            name: "batch_size"
            value: "4"
          }
          items {
            name: "input_channel"
            value: "3"
          }
          items {
            name: "input_width"
            value: "416"
          }
          items {
            name: "input_height"
            value: "416"
          }
          items {
            name: "max_object_num_per_frame"
            value: "20"
          }
        }
      }
        
      engines {
        id: 3000
        engine_name: "StreamDataOutputEngine"
        side: HOST
        thread_num: 1
        ai_config {
          items {
            name: "json_port"
            value: "8070"
          }
          items {
            name: "python_port"
            value: "7200"
          }
          items {
            name: "rtsp_link"
            value: "rtsp://127.0.0.1/live.sdp"
          }
          items {
            name: "feature_lib_path"
            value: "./data/featurelib/Featurelib.bin"
          }
          items {
            name: "feature_len"
            value: "512"
          }
          items {
            name: "feature_num"
            value: "5"
          }
        }
      }
        
      engines {
        id: 2000
        engine_name: "MergeEngine"
        side: HOST
        thread_num: 1
      }
        
      engines {
        id: 2001
        engine_name: "MergeEngine"
        side: HOST
        thread_num: 1
      }
        
      connects {
        src_engine_id: 300
        src_port_id: 0
        target_engine_id: 1100
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 301
        src_port_id: 0
        target_engine_id: 1101
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 1100
        src_port_id: 0
        target_engine_id: 1001
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 1101
        src_port_id: 0
        target_engine_id: 1001
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 1001
        src_port_id: 0
        target_engine_id: 400
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 1001
        src_port_id: 1
        target_engine_id: 401
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 400
        src_port_id: 0
        target_engine_id: 2000
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 401
        src_port_id: 0
        target_engine_id: 2001
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 2000
        src_port_id: 0
        target_engine_id: 3000
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 2001
        src_port_id: 0
        target_engine_id: 3000
        target_port_id: 0
      }
        
      connects {
        src_engine_id: 1100
        src_port_id: 1
        target_engine_id: 3000
        target_port_id: 1
      }
        
      connects {
        src_engine_id: 1101
        src_port_id: 1
        target_engine_id: 3000
        target_port_id: 1
      }
        
    }
    
