# Chip config
device_id = 0 # Use the device to run the program

# Graph config
graph_id = 100

# Python output port
python = 7200

# Json output port, http
json = 8070

# Cam config
used_cam_num = 2 # Use top n cams in cam list

# Cam list
cam0 = rtsp1
cam1 = rtsp2
cam4 = ./C20_Final.264
cam5 = ./C20_Final.264
cam6 = ./C6_Final.264
cam7 = ./C6_Final.264
cam8 = ./C6_Final.264
cam9 = ./C6_Final.264
cam10 = ./C6_Final.264
cam11 = ./C20_Final.264
cam12 = ./C6_Final.264
cam13 = ./C20_Final.264
cam14 = ./C20_Final.264
cam15 = ./C20_Final.264
# rtsp://127.0.0.1:8554/test
